# ================================
# 🐍 Python
# ================================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ================================
# 📦 Virtual Environment
# ================================
venv/
env/
.venv/

# ================================
# 🧩 Environment / Secrets
# ================================
.env
.env.local
*.env
*.key
*.pem


# ================================
# 💾 Data Files
# ================================
*.json
*.csv
*.db
*.sqlite3
*.pkl
*.h5
*.npy
*.npz


# ================================
# ⚙️ IDE / Editor settings
# ================================
.vscode/
.idea/
